<h1>Hello, {{ title }}</h1>
<p>Parabéns palhaço! Your app is running. 🎉</p>

<!-- Data Biding: Associação de dados -->
<!-- Interpoção -->
<app-menu label="{{buttonName}}"></app-menu>
<app-menu label="Nome do Botão"></app-menu>

<!-- Property Binding -->
<app-menu [label]="buttonName"></app-menu>
<app-menu [label]="'Nome do Botão'"></app-menu>

<!-- Two Way Data Binding -->
<app-entry-data></app-entry-data>

<app-title name="calculadora" *ngIf="isAlive; else anotherBlock"></app-title>

<button (click)="dispose()">Fenix</button>

<ng-template #anotherBlock>
	<p>Olá eu sou um bloco secreto</p>
</ng-template>

<br>

<app-card>
	<h2>Testando ng-content</h2>
	<p>ng-content Eu vim de fora</p>
</app-card>


