<h1>Hello, {{ title }}</h1>
<p>Parabéns palhaço! Your app is running. 🎉</p>

<!-- Data Biding: Associação de dados -->
<!-- Interpoção -->
<app-menu label="{{buttonName}}"></app-menu>
<app-menu label="Nome do Botão"></app-menu>

<!-- Property Binding -->
<app-menu [label]="buttonName"></app-menu>
<app-menu [label]="'Nome do Botão'"></app-menu>

<!-- Two Way Data Binding -->
<app-entry-data></app-entry-data>

<app-title name="calculadora" *ngIf="isAlive"></app-title>

<button (click)="dispose()">Fenix</button>


